body{
    background: #24353f;

}
.holder{
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
}
h1{
    color: #17a2b8;
}
.form-control{
    background-color: #24353f !important;
    color: white !important;

}
input::placeholder{
    color: gray !important;

}
.theanc{    
    color: white !important;
    text-decoration: none;
    cursor: pointer;
}
.theanc:hover{
    text-decoration: underline;
}